<%= form_for(@shared_jobseeker) do |f| %>
  <% if @shared_jobseeker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_jobseeker.errors.count, "error") %> prohibited this shared_jobseeker from being saved:</h2>

      <ul>
      <% @shared_jobseeker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.text_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br>
    <%= f.text_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :jobseeker_id %><br>
    <%= f.text_field :jobseeker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
