<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= Rails.application.secrets[:ATS_NAME]["original_name"] %></title>
  <%= wicked_pdf_stylesheet_link_tag "offer_letter_neom.css" -%>
</head>
<body>

<div class="Section1">

  <!-- logo -->
  <div class="logo_letter">
    <%= wicked_pdf_image_tag @current_company.avatar(:original) %>
  </div>

  <!-- title -->
  <h1>Expat External Offer CONSULTANT</h1>

  <span>Candidate Name</span><br>
  <span><%= Date.today.strftime("%A, %d %b %Y") %></span><br>
  <span>Dear Candidate <%= @jobseeker.full_name %>,</span><br><br>

  <!-- contetnt -->
  <p>We are delighted to offer you the position of Job <%= @offer_letter_request.title %> at NEOM.</p>
  <p>The position will be based in Riyadh offices of NEOM on a temporary basis. This contract is for a period of 1/2/3 years subject to the terms and conditions outlined on page 2.</p>
  <p>As discussed, there are many components within the package we wish to offer which are outlined below: </p>

  <!-- table -->
  <table>
    <tr>
      <td width="180"><strong>Basic Salary</strong><td>
      <td><%= @offer_letter_request.basic_salary %> SAR per Calender month<td>
    </tr>
    <tr>
      <td width="180"><strong>Housing Allowance</strong><td>
      <td><%= @offer_letter_request.housing_salary %> SAR per Calender month<td>
    </tr>
    <tr>
      <td width="180"><strong>Transportation Allowance</strong><td>
      <td><%= @offer_letter_request.transportation_salary %> SAR per Calender month<td>
    </tr>
    <tr>
      <td width="180"><strong>Mobile Allowance</strong><td>
      <td><%= @offer_letter_request.mobile_allowance_salary %>  SAR per Calender month<td>
    </tr>
  </table>
  <br>

  <!-- table -->
  <table>
    <tr>
      <td width="180"><strong>Total Salary Payable</strong><td>
      <td><%= @offer_letter_request.total_salary %>  SAR per Calender month<td>
    </tr>
  </table>

  <p>In addition to the above salary you shall also be eligible for the following additional benefits in accordance with Company policy:</p>
  <p><strong>Relocation Allowance. <%= @offer_letter_request.relocation_allowance %> SAR</strong>
  This is a one off payment to cover the cost of relocating your personal effects.</p>
  <p><strong>Annual Travel Allowance</strong> is the equivalent of a round-trip economy/business class ticket for you and your eligible dependents to your point of origin based on an average of high- and low-season established rates.</p>
  <p><strong>Relocation Flight:</strong> A economy/business class relocation flight shall be provided for you and your eligible family members.</p>
  <p><strong>Schooling:</strong> You shall be eligible to receive reimbursement of school tuition and eligible fees for up to three children up to 60,000 SAR per child per academic year. The allowance is for eligible dependent children from KG to Grade K-12 (or equivalent, from 3years old) in a fee-paying school offering a formal curriculum – in KSA or abroad.</p>
  <p><strong>Bonus:</strong> You are eligible to participate in NEOM’s discretionary annual bonus plan.</p>
</div>
<div class="Section1">



  <p><strong>Savings:</strong> You are eligible to participate in NEOM’s Savings Plan.</p>
  <p><strong>Medical:</strong> You are eligible for medical insurance plan.</p>
  <p><strong>Annual Leave:</strong> You are entitled to 30 working days annual leave.</p>

  <!-- contetnt -->
  <span><strong class="line">Terms and Conditions:</strong></span>
  <br>

  <!-- table -->
  <table>
    <tr>
      <td width="30">I.</td>
      <td>This offer is contingent upon all background checks being successfully cleared.
      </td>
    </tr>
    <tr>
      <td width="30">II.</td>
      <td>This offer is contingent upon the signatory being able to obtain the relevant permit/visa to enter the Kingdom of Saudi Arabia to work.
      </td>
    </tr>
    <tr>
      <td width="30">III.</td>
      <td>NEOM has a probationary period of 90 calendar days during which either party may terminate the contract with 7 days’ notice.  After successfully completing probation, either party must provide 60 calendar days’ to terminate the contract, as per NEOM policies.
      </td>
    </tr>
  </table>

  <p>This offer is subject to the finalisation of the employment contract between the Company and you. The Company shall provide you with the employment contract upon your acceptance of this offer, as referred to below.</p>
  <p>This offer is subject to NEOM policies, procedures, code of conduct and other related policies as may be amended from time to time.</p>
  <p>This offer shall be governed by and construed in accordance with the laws of the Kingdom of Saudi Arabia and the parties agree to submit to the exclusive jurisdiction of the courts of the Kingdom of Saudi Arabia</p>
  <p>This offer is valid until <strong><%= @offer_letter_request.end_date %></strong>. If this offer is acceptable to you, please sign a copy of this letter (and the Employee Confidentiality Agreement) and email it back to <a href="mailto:<%= @current_user.email %>"><%= @current_user.email %></a> immediately. </p>
  <p>If you have any questions, please do not hesitate to contact either myself or a member of the Human Resources team.</p>
  <p>We look forward to welcoming you on board. </p>
  <br>
  <p>Regards</p>
  <br>
  <p><%= @current_user.full_name %><br><%= @current_user.position %><br>NEOM</p>
</div>
<div class="Section1">


  <br>
  <p>I, Candidate Name, confirm that I have received and reviewed the enclosed terms of this offer of employment and herby confirm my acceptance of the offer.</p>
  <p>By signing this letter, I grant NEOM and its associated organisations, authorisation to conduct any necessary background or security checks, in order to prepare my contract of employment and begin the mobilisation process. The validity of this employment offer is subject to receipt of satisfactory references and background checks.</p>
  <br>

  <!-- table -->
  <table>
    <tr>
      <td width="140">Signed:</td>
      <td>----------------------------------------------------</td>
    </tr>
    <tr>
      <td width="140">Name:<br>(As per Passport)</td>
      <td>----------------------------------------------------</td>
    </tr>
    <tr>
      <td width="140">Date:<br>(DD/MM/YY)</td>
      <td>----------------------------------------------------</td>
    </tr>
  </table>
</div>
<div class="Section1">


  <span><strong class="line">Employee Confidentiality Agreement</strong></span>
  <p>NEOM employees are expected to execute their duties on behalf of NEOM with the highest degree of care and professionalism.  Employees may obtain or use confidential information as a necessary part of their role and ensuring that confidential information is protected and not disclosed is essential.</p>
  <br>

  <!-- table -->
  <table>
    <tr>
      <td width="30">1.1</td>
      <td>For the purposes of this Policy, confidential information may include:</td>
    </tr>
    <tr>
      <td width="30"></td>
      <td>
        <ul>
          <li>financial information about NEOM;</li>
          <li>personnel records of any employee;</li>
          <li>payroll records;</li>
          <li>financial, health and other personal information about NEOM candidates, employees or partners;</li>
          <li>information about NEOM systems or information contained in its databases;</li>
          <li>information acquired in the course of NEOM work regarding persons or entities with which NEOM has, had, was or is considering business relations;</li>
          <li>any other sensitive or provide information belonging to or relating to NEOM.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td width="30">1.2</td>
      <td>A NEOM employee must not disclose any confidential information, whether hard copy, electronic or verbal, to any person or entity outside NEOM without appropriate permission.</td>
    </tr>
    <tr>
      <td width="30">&nbsp;</td>
      <td>A NEOM employee must not disclose confidential information to individuals within NEOM unless that individual has a need to know the information as part of his or her work and appropriate authority has been received.
      </td>
    </tr>
    <tr>
      <td width="30">&nbsp;</td>
      <td>A NEOM employee must not remove confidential information from NEOM’s premises without first obtaining appropriate authority to do so.</td>
    </tr>
    <tr>
      <td width="30">1.3</td>
      <td>
        <p>If a NEOM employee has any questions about the application of this Policy, or is in any doubt as to whether information can be shared, they must discuss with their Manager and/or Human Resources representative.</p>
      </td>
    </tr>
  </table>

  <p>
    <strong>
    I acknowledge that I have read and agree to comply with this Employee Confidentiality Policy.  I understand and agree that any violation of this Policy would be a serious matter which may lead to disciplinary action up to and including termination of my employment and possible other legal ramifications.
    </strong>
  </p>
  <br>
  <table>
    <tr>
      <td>Name</td>
      <td>--------------------------------------------</td>
      <td>Title</td>
      <td>--------------------------------------------</td>
    </tr>
    <tr>
    <tr>
      <td>Signature</td>
      <td>--------------------------------------------</td>
      <td>Date</td>
      <td>--------------------------------------------</td>
    </tr>
    </tr>
  </table>
</div>

</body>
</html>
