<style>
  body{
    background: #f1f1f1;
    font-family:sans-serif;
    font-weight: normal;
  }
  a{
    color: #374b61;
    text-decoration: none;
  }
  .header{
    width:100%;
    height: auto;
    background-color: #374b61;
    height: 80px;
  }
  .wrapper{
    width:100%;
    margin:0px auto;
  }
  .container-email{
    background:#fff;
    margin:10px 0px;
    padding:20px 30px;
    text-align: center;
    box-shadow: 0px 1px 9px 0px rgba(55, 75, 97, 0.09);
    padding-bottom: 30px;
  }
  .container-footer{
    text-align: center;
  }

  .user-pic{
    width: 97px;
    height: 95px;
    margin: 0px auto;
    overflow: hidden;
    border:1px solid #f1f1f1;
    -moz-border-radius: 160px; -webkit-border-radius: 160px; border-radius: 160px;
    margin-bottom: 20px;
    float: left;
    background-color:#badcfd;
    background-image: url(images-email/user.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
  .user-pic i{
    text-align: center;
    display: block;
  }
  .user-pic i img{
    width: 100%;
    height: auto;
    margin: 0px auto;
  }

  .company-pic{
    width: 97px;
    height: 95px;
    margin: 0px auto;
    overflow: hidden;
    border:1px solid #f1f1f1;
    -moz-border-radius: 160px; -webkit-border-radius: 160px; border-radius: 160px;
    margin-bottom: 20px;
    float: left;
    background-color:#badcfd;
    background-image: url(images-email/company.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
  .company-pic i img{
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .company-pic i{
    text-align: center;
    display: block;
  }
  .arrow{
    float: left;
  }
  h1{
    color:#374b61;
    font-size:32px;
    margin-bottom:0px;
  }
  h5{
    color:#97aec6;
    font-size:18px;
    margin:10px 0px 30px 0px;
    font-weight: 100;
  }
  .bitton{
    background:#3379bd;
    color: #fff;
    font-size:14px;
    border:none;
    padding:8px 30px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  .bitton-big{
    background:#3379bd;
    color: #fff;
    font-size:14px;
    border:none;
    padding:15px 30px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    margin: 5px auto;
  }
  .bitton:hover{
    background:#165592;
  }
  h4{
    color:#648b9d;
    font-size:16px;
    font-weight: 100;
    margin:10px 0px;
    font-size: 14px;
    color: #86a9b9;
  }

  h2{
    color:#648b9d;
    font-size:22px;
    font-weight: 400;
    margin:10px 0px;
    color: #374b61;
  }
  h3{
    color:#648b9d;
    font-size:20px;
    font-weight: 400;
    margin:10px 0px;
    color: #374b61;
    text-align: left;
  }

  p{
    color: #6990a1;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    width: 100%;
    margin: 0px auto;

  }
  strong{
    color: #374b61;
    font-weight: 400;
  }

  .image-section{
    width: 100%;
    float: left;
  }

  .social{
    margin: 0 auto;
    width:280px;
  }
  .social a:hover{ opacity:0.6  }
  .center-box-single{
    width: 100px;
    margin: 0px auto;
  }
  .logo{
    width: 20%;
    float: left;
  }
  .logo img{
    height: 50px;
    width: auto;
    padding: 15px;
  }
  .heading{
    float: left;
    width: 80%;
    text-align: right;
  }
  .heading h2{
    color: #fff;
    font-size:16px;
    margin: 0px;
    padding: 20px 15px 0px 0px;
  }
  .heading span{
    color: #91aac6;
    font-size: 14px;
    margin: 0px;
    padding: 0px 15px 15px 0px;
  }
  .poll span{
    font-size: 14px;
    color: #4f788a;
    text-align: left!important;
    display: block;
  }
  .poll form{
    text-align: left;
    margin-top: 20px;
    color: #4f788a;
  }
  .job-image{
    width: 15%;
    height: 157px;
    float: left;
    overflow: hidden;
  }

  .job-image img{
    width: 100%;
    height: auto;
  }
  .job-description2{
    width: 85%;
    float: left;
    height: auto;
    text-align: left;
    color:#4f788a;
  }
  .job-description2 h2{
    padding-left: 20px;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .job-description2 span{
    padding-left: 20px;
    font-size: 14px;
    display: block;
    padding-bottom: 6px;
  }
  .job-description2 p{
    padding-left: 20px;
    font-size: 14px;
    display: block;
    padding-bottom: 6px;
    text-align: left!important;
    float: left;
    width: 95%;
  }
  .job-description2 button{
    background: none;
    border: none;
  }
  .suggested-job{
    padding: 15px;
    margin:5px 0px;
  }

  .clear{
    clear: both;
  }

</style>

<body>

  <div class="wrapper">
    <!-- header -->
    <div class="header">
      <div class="logo">
        <img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/mail-logo.png" align="middle">
      </div>
      <div class="heading">
        <h2>Blogs</h2>
        <span><%= Date.today.strftime("%d %b, %Y") %></span>
      </div>
    </div>

    <!-- Body -->
    <% blogs.each do |blog| %>
        <div class="container-email suggested-job">
          <div class="job-image">
            <i><img src="<%= blog.avatar %>"></i>
          </div>
          <div class="job-description2">
            <h2><%= blog.title %></h2>
            <span><i class="icon"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/icons-date.png" ></i>&nbsp;&nbsp;<%= blog.created_at.strftime("%d %b, %Y") %></span>
            <span>Posted by <%= blog.company_user.company.name %></span>
            <p><%= blog.description.html_safe.truncate(100) %></p>
            <a href="<%= "#{Rails.application.secrets[:FRONTEND]}" %>/blog/<%= "#{blog.title.parameterize("-")}-#{blog.id}" %>" class="bitton" style="float:left">Read More</a>
          </div>
          <div class="clear"></div>
        </div>
    <% end %>

    <div class="container-email suggested-job" style="margin-bottom: 20px;">
      <br>
      <a href="<%= "#{Rails.application.secrets[:FRONTEND]}" %>/blog" class="bitton-big">Check Out Our Blog Section</a>
      <br>
      <br>
    </div>


    <!-- Footer -->
    <div class="container-footer">
      <div class="social">
        <a href="https://www.facebook.com/BloovoWorld/" target="_blank"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/facebook.png"></a>
        <a href="https://twitter.com/Bloovo" target="_blank"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/twitter.png"></a>
        <a href="https://www.linkedin.com/company/bloovo" target="_blank"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/linkedin.png"></a>
        <a href="https://plus.google.com/+Bloovo" target="_blank"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/google.png"></a>
        <a href="https://www.instagram.com/bloovo_/" target="_blank"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/instagram.png"></a>
        <a href="https://www.youtube.com/channel/UCuRLdElkaZaipKjKVJgICDQ" target="_blank"><img src="<%= Rails.application.secrets[:EMAIL_IMAGES] %>/youtube.png"></a>
      </div>
      <h4>Copyright @ BLOOVO Middle East FZ LLC. All Rights Reserved.</h4>
    </div>
  </div>
</body>